.download{
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--dm-grey-02);
    box-shadow: 0px 0px 0px inset var(--dm-grey-01);
    border-radius: 100vw;
    width: 7.5rem;
    padding: 0.25rem;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out 0.3s;
}
.download:visited{
    color: black;
}
.download:hover{
    background-color: white;
    box-shadow: 4px 4px 2px inset var(--dm-grey-01);
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

table{
    border-collapse: collapse;
    border: solid 1px rgb(228, 228, 228);
    table-layout: fixed;
    border-radius: 1rem;
    width: 100%;
}

tbody tr:nth-child(odd){
    background-color: rgb(228, 228, 228);
}

th{
    text-align: left;
    padding: 0.5rem;
}

td{
    /* width: 7.5rem; */
    word-wrap: break-word;
    padding: 0.5rem;
}

#update-header{
    cursor: pointer;
}

.hidden{
    display: none;
}
