:root{
    --dm-blue-01: #0d1b2a;
    --dm-blue-02: #1b263b;
    --dm-blue-03: #415a77;
    --dm-blue-04: #778da9;
    --dm-grey-01: #e0e1dd;
    --dm-grey-02: #f0f0f0;
    --dm-grey-03: #4a4a4a;
}

*{
    border: 0rem;
    margin: 0rem;
    font-family: 'Cabinet Grotesk Regular', Arial, Helvetica, sans-serif;
    background-color: var(--dm-grey-02);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 5rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 2rem;
}

h1{
    font-family: 'Cabinet Grotesk Black';
    background-color: white;
    border-radius: 100vw;
    box-shadow: 4px 4px 2px inset var(--dm-grey-01);
    padding: 1rem;
    color: #4a4a4a;
    transition: all ease-in-out 0.3s;
}
h1:hover{
    background-color: var(--dm-grey-02);
    box-shadow: 0px 0px 0px inset var(--dm-grey-01);
}

a:visited{
    color: var(--dm-grey-03);
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    padding: 0rem;
    margin: 2rem;
}

nav ul li a{
    text-decoration: none;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-weight: 500;
    color: var(--dm-grey-03);
    
    transition: all ease-in-out 0.3s;
}
nav ul li a:visited{
    color: var(--dm-grey-03);
    
}
nav ul li a:hover{
    background-color: white;
    border-radius: 100vw;
    box-shadow: 4px 4px 2px inset var(--dm-grey-01);

}

.current-page{
    background-color: white;
    border-radius: 100vw;
    box-shadow: 4px 4px 2px inset var(--dm-grey-01);
    font-weight: bolder;
    transition: all ease-in-out 0.3s;
}
.current-page:hover{
    background-color: var(--dm-grey-02);
    box-shadow: 0px 0px 0px inset var(--dm-grey-01);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    margin-inline: 5rem;
}

.input-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
}

.num-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: solid 1px black;
    border-radius: 100vw;
    padding: 0.25rem;
    width: 5rem;
}

select{
    padding: 0.25rem;
    border: solid 1px black;
    border-radius: 100vw;
}


.btn{
    font-size: 1rem;
    border-radius: 100vw;
    background-color: white;
    box-shadow: 4px 4px 2px var(--dm-grey-01);
    /* border: solid 1px black; */
    padding: 0.25rem;
    width: 7.5rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.btn:hover{
    box-shadow: 0px 0px 0px var(--dm-grey-01);
}

@font-face {
    font-family: 'Cabinet Grotesk Regular';
    src: url('fonts/CabinetGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabinet Grotesk Black';
    src: url('fonts/CabinetGrotesk-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabinet Grotesk Light';
    src: url('fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
}